.youtube-audio-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 240px;
  height: 240px;
  opacity: 0.001;
  pointer-events: none;
  overflow: hidden;
  z-index: -9999;
}

#youtube-audio-engine {
  width: 240px;
  height: 240px;
  border: 0;
}
